@font-face {
  font-family: "iconfont"; /* Project id 4948270 */
  src: url('iconfont.woff2?t=1749737526007') format('woff2'),
       url('iconfont.woff?t=1749737526007') format('woff'),
       url('iconfont.ttf?t=1749737526007') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-zhengshu:before {
  content: "\e606";
}

.icon-zhengshu1:before {
  content: "\e63f";
}

.icon-telegram:before {
  content: "\e715";
}

.icon-fuzhi:before {
  content: "\ec7a";
}

.icon-yiwancheng:before {
  content: "\e609";
}

.icon-fuwutiaokuan:before {
  content: "\e604";
}

.icon-yiwancheng1:before {
  content: "\e62b";
}

.icon-daiwancheng:before {
  content: "\e643";
}

.icon-guanyuwomen:before {
  content: "\e69a";
}

.icon-3:before {
  content: "\e602";
}

.icon-8:before {
  content: "\e607";
}

.icon-9:before {
  content: "\e608";
}

.icon-29:before {
  content: "\e61a";
}

.icon-50:before {
  content: "\e62e";
}

.icon-shenfenrenzheng:before {
  content: "\e680";
}

.icon-zhichiyinhang:before {
  content: "\e6cf";
}

.icon-zijinmingxi:before {
  content: "\e603";
}

.icon-yaoqinghaoyou:before {
  content: "\e635";
}

.icon-vzaixiankefu:before {
  content: "\e76f";
}

.icon-yuyan:before {
  content: "\e670";
}

.icon-huodongzhongxin:before {
  content: "\e62a";
}

.icon-xitongtongzhi:before {
  content: "\e646";
}

.icon-zhinengmofangicon_shipinzhongxin:before {
  content: "\e601";
}

